### Usage ###
#空行或是以#开头的行即注释行将被忽略；
#以斜杠 “/” 结尾表示目录；
#以星号 “*” 通配多个字符；
#以问号 “?” 通配单个字符；
#以方括号 “[]” 包含单个字符的匹配列表；
#以叹号 “!” 表示不忽略(跟踪)匹配到的文件或目录；
#可以在前面添加斜杠 “/” 来避免递归，只忽略当前目录下的该文件，不考虑子目录。

/target/

### IntelliJ IDEA ###
.idea
*.iml